html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Webpack app
    body
        h1 превед медвед

        ol
            li Item A
            li Item B
            li Item C


    p
        | The pipe always goes at the beginning of its own line,
        | not counting indentation. 

    a(href='https://google.com') Google
    |
    a(class='button' href='https://google.com') Google

    - var hueta = false
    h1=hueta ? 'sdfs' : 'net'

    input(
        type='checkbox'
        name='agreement'
        checked
    )


    - var classes = ['foo', 'bar', 'baz']
    a(class=classes)
    |
    |
    //- the class attribute may also be repeated to merge arrays
    a.bang(class=classes class=['bing'])
    h1 
    =classes
    |
    br
    em $ 